<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapping 映射规范
  1、mapper.namespace书写；
  2、resultMap 作用；
  3、sql指令 参数（id，parametermap/type,resultMap/type）


   展示药品的信息&ndash;&gt;-->
<mapper namespace="com.qf.j1904.mapper.SysDrugMapper">

<!--<sql id="sysDrug_colums">
        drug_Num,
        drug_Name,
        drug_Features,
        drug_Date,
        drug_Quantity,
        drug_Price,
        drug_AccName
    </sql>-->
<select id="findAll" resultType="com.qf.j1904.pojo.SysDrug">
select * from tb_drug
</select>

<insert id="addDrugInfo" parameterType="SysDrug">
    insert into tb_drug values (
        default,
        #{drug_Name},
        #{drug_Features},
        #{drug_Date},
        #{drug_Quantity},
        #{drug_Price},
        #{drug_AccName},
        #{drug_Img}
        )
</insert>



</mapper>