<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctor Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/doc.main.css" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />
    <style>
        #side-div{
            width: 80%;
            height: 700px;
            margin-left:240px;
            background-color: ghostwhite;
        }
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        #form-group1{
            margin-left: 40px;
            float: left;
        }
        #form-group2{
            float: left;
            margin-top: 40px;
        }
        #form-group3{
            float: left;
            margin-left: 40px;
        }
    </style>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard">Doctor Admin</a></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text"> 欢迎用户使用</span><b class="caret"></b></a>
        </li>
        <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="bingli"><i class="icon-plus"></i> 病历信息</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="yaopins"><i class="icon-envelope"></i> 药品信息</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="yisheng"><i class="icon-envelope"></i> 主治医生信息</a></li>
            </ul>
        </li>

        <li class=""><a title="" href="index"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li>
    </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li class="active"><a href="Main"><i class="icon icon-home"></i> <span>系统面板</span></a> </li>
        <li> <a href="yaoPins"><i class="icon icon-signal"></i> <span>药品信息</span></a> </li>
        <li> <a href="zhuanJias"><i class="icon icon-inbox"></i> <span>专家信息</span></a> </li>
        <li class="zhuyuan"> <a href="singleInfo"><i class="icon icon-file"></i> <span>个人信息</span> </a>
        <li><a href="yonghus"><i class="icon icon-th"></i> <span>患者信息管理</span></a></li>
        <li><a href="yishengs"><i class="icon icon-fullscreen"></i> <span>医护人员管理</span></a></li>
        <li class="role"> <a href="role"><i class="icon icon-th-list"></i> <span>角色权限管理</span> </a>

        </li>
        <li class="yaopinguanli"> <a href="yaopinguanli"><i class="icon icon-info-sign"></i> <span>药房与血库信息管理</span> </a>
        </li>
        <li><a href="baoxiao"><i class="icon icon-tint"></i> <span> 医疗报销流程管理</span></a></li>
        <li class="content"> <span>贫困基金爱心众筹募捐活动</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
            <div class="stat">21419.94 / 14000 MB</div>
        </li>
        <li class="content"> <span>熊猫血紧急募捐中</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
            <div class="stat">604.44 / 4000 MB</div>
        </li>
    </ul>
</div>
<div id="side-div">
    <br/>
    <h4>角色分配</h4>
            <form role="form" class="form-inline">

                <div id="form-group1">
                    <label >普通用户</label><br>
                    <select id="wfp" class="form-control" multiple size="10" style="width:160px;overflow-y:auto;" >
                        <option  th:each="b:${roleList1}" th:text="${b.loginName}" ></option>
                    </select>
                </div>
                <div id="form-group2">
                    <ul>
                        <li id="weifenpei" class="btn btn-default glyphicon glyphicon-chevron-right">右移</li>
                        <br>
                        <li id="yifenpei" class="btn btn-default glyphicon glyphicon-chevron-left" style="margin-top:20px;">左移</li>
                    </ul>
                </div>
                <div id="form-group3">
                    <label >医院医生</label><br>
                    <select id="yfp" class="form-control" multiple size="10" style="width:160px;overflow-y:auto;"  >
                        <option th:each="b:${roleList2}" th:text="${b.loginName}" ></option>
                    </select>
                </div>
            </form>
</div>
<script src="js/excanvas.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.dashboard.js"></script>
<script src="js/jquery.gritter.min.js"></script>
<script src="js/matrix.interface.js"></script>
<script src="js/matrix.chat.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/matrix.form_validation.js"></script>
<script src="js/jquery.wizard.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/matrix.popover.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.tables.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage (newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-" ) {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }

    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
        $("#weifenpei").click(function(){
            var c=$("#wfp").val();
            location.href="jiaRole?loginName="+c;
        });
        $("#yifenpei").click(function(){
            var c=$("#yfp").val();
            location.href="jianRole?loginName="+c;
        });
    });
</script>
</body>
</html>
