<!DOCTYPE html>
<html lang="en" xmlns:background="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="images"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style>
        #bck{
            width: 100%;
            height: 800px;
            background:url("images/4.jpg");
            background-size:contain;
        }
    </style>
</head>
<body>
<div id="bck">

    <div class="container">
        <h2>欢迎注册</h2>
        <div class="row" style="margin-top:100px;">
            <div class="col-md-offset-3 col-md-6">
                <form action="zhuCe" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="loginName" class="col-md-2 control-label">用户名:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="loginName" id="loginName" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">密码:</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" id="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align: center; margin-top:30px;">
                            <button type="submit" class="btn btn-success">提交</button>
                            <button type="reset" class="btn btn-info">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>